.carousel-item img {
  object-fit: cover;
  height: auto;
  max-height: 600px;
  width: 100%;
}


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 144px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
}